@import url("https://fonts.googleapis.com/css2? family= Passion+One:wght@400;700;900 & family= Sriracha & display=swap");

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 5%;
    text-align: center;
    padding-top: 30px;
    margin: auto;
    padding-bottom: 20px;
}

header p {
    color: white;
}

#container-titulo {
    color: white;
    font-size: 10vw;
    font-family: "Passion One", sans-serif;
}

#container-titulo-link {
    color: white;
    text-decoration: none;
}

section#conteiner-texto1 {
    padding-top: 10vw;
    padding-left: 30px;
    padding-bottom: 10vw;
    line-height: 2em;
    font-family: "Sriracha", sans-serif;
    text-align: justify;
    font-size: 3.5vw;
}

section#conteiner-texto2 {
    font-family: "Sriracha", sans-serif;
    background: black url(imagens/background001.jpg) right center no-repeat
        fixed;
    background-size: cover;
    color: white;
    text-align: justify;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    padding-top: 10vw;
    padding-left: 30px;
    padding-bottom: 10vw;
    line-height: 2em;
    font-size: 3.5vw;
}

#conteiner-texto2 p {
    background-color: rgba(0, 0, 0, 0.212);
    display: inline-block;
    padding: 5px;
}

#conteiner-texto3 {
    padding-top: 10vw;
    padding-left: 30px;
    padding-bottom: 10vw;
    line-height: 2em;
    font-size: 3.5vw;
}

#conteiner-texto3 p {
    font-family: "Sriracha", sans-serif;
    text-align: justify;
}

#conteiner-texto4 {
    background: black url(imagens/background002.jpg) center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    padding-top: 10vw;
    padding-left: 30px;
    padding-bottom: 10vw;
    line-height: 2em;
    font-size: 3.5vw;
}

#conteiner-texto4 p {
    font-family: "Sriracha", sans-serif;
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    text-align: justify;
    display: inline-block;
    padding: 5px;
}

#conteiner-texto5 {
    padding-top: 10vw;
    padding-left: 30px;
    padding-bottom: 10vw;
    line-height: 2em;
    font-size: 3.5vw;
}

#conteiner-texto5 p {
    font-family: "Sriracha", sans-serif;
    text-align: justify;
}

footer {
    background-color: black;
    color: white;
    padding: 5px;
}
footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: bold;
}
